{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="{% static '/css/light_mode.css' %}" >
</head>
 <style>
    body, html {
      height: 100%;
    }
    
    container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .spinner-border {
      width: 12rem; 
      height: 12rem;
      border-width: 0.7em; 
    }
  </style>
<body>

    <h5> If the payment fail : <b>{{ fail_path }}</b> </h5>
    <br/>
    <h5> If the payment success : <b>{{ success_path }}</b> </h5>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br/>
                <br/>
                <center><h1 style="color: #113F67;"><b>Please Wait</b></h1></center>
            </div>
        </div>
    </div>

    <div class = "d-none">
        {{ paypal.render }}
    </div>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script> 
    /*
    const form = document.getElementById('paypale');
    form?.click()
    */
</script>
</body>
</html>
