{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <!--PRAROZ CHANNEL | YOUTUBE-->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Travel Webpage Design 2022 | PRAROZ | 2022</title>
   <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{% static 'css/main_page.css'%}">
   <script src="index.js"></script>

</head>

<body>

   <header>

      <img src="site web projethh.png" class="image">
      <div class="menu-btn"></div>
      <div class="navigation">
         <div class="navigation-items">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Explore</a>
            <a href="#">Gallery</a>
            <a href="#">Contact</a>

         </div>

      </div>


   </header>



   <section class="home">

      <video class="video-slide active" src="video (2160p)_2.mp4" autoplay muted loop></video>
      <video class="video-slide " src="video (1080p).mp4" autoplay muted loop></video>
      <video class="video-slide" src="video (1080p)_2.mp4" autoplay muted loop></video>
      <video class="video-slide" src="cascade_-_108599 (1080p).mp4" autoplay muted loop></video>
      <video class="video-slide" src="pexels_videos_2099568 (1080p).mp4" autoplay muted loop></video>



      <div class="media-icons">

         <a href="#"><i class="fab fa-facebook-f"></i></a>

         <a href="#"><i class="fab fa-instagram"></i></a>

         <a href="#"><i class="fab fa-twitter"></i></a>

      </div>
      <div class="slide-navigation">
         <div class="nav-btn active"></div>
         <div class="nav-btn"></div>
         <div class="nav-btn"></div>
         <div class="nav-btn"></div>
         <div class="nav-btn"></div>
      </div>
   </section>


   <!-- About us -->


   <section id="a-propos">
      <div>
         <div class="about">
            <div class="left heading">
               <h1>WELCOME</h1>
               <h2>To Wanderlust</h2>
            </div>
         </div>
         <div class="descriptionne-photo">
            <div class="desc">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam id voluptatibus dolor facere
                  aperiam
                  numquam quisquam libero minima nostrum, ut laborum veniam, nesciunt a. Quod minima cupiditate ad.
                  Veritatis, amet.</p>

               <H2>NOS SERVICES</H2>
               <div class="list-services">
                  <div class="services">
                     <i class="fa-regular fa-clock"></i>
                     <p>RAPIDE</p>
                  </div>
                  <div class="services">
                     <i class="fas fa-money-check-alt"></i>
                     <p>ECONOMIQUE</p>
                  </div>
                  <div class="services">
                     <i class="fas fa-check"></i>
                     <p>FIABLE</p>
                  </div>
               </div>
            </div>
            <img src="kayak.jpg" alt="">
         </div>
      </div>
   </section>


   



   <!--pays -->

   <div class="container">
      <div class="card">
          <div class="imgbox">
              <img src="pexels-pixabay-2363.jpg">
          </div>
      <div class="details">
          <h2>lorur hassna ben</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat praesentium, unde voluptate vel distinctio quos non enim iusto sit expedita ipsa sunt nisi ad pariatur sequi. Commodi error voluptate aspernatur.</p>
      </div>
      </div>
      <div class="card">
          <div class="imgbox">
              <img src="pexels-mohamed-akram-10546983.jpg">
          </div>
      <div class="details">
          <h2>lorur hassna ben</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat praesentium, unde voluptate vel distinctio quos non enim iusto sit expedita ipsa sunt nisi ad pariatur sequi. Commodi error voluptate aspernatur.</p>
      </div>
      </div>
      <div class="card">
          <div class="imgbox">
              <img src="banner-3.jpg">
          </div>
      <div class="details">
          <h2>lorur hassna ben</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat praesentium, unde voluptate vel distinctio quos non enim iusto sit expedita ipsa sunt nisi ad pariatur sequi. Commodi error voluptate aspernatur.</p>
      </div>
      </div>
      <div class="card">
          <div class="imgbox">
              <img src="banner-4.jpg">
          </div>
      <div class="details">
          <h2>lorur hassna ben</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat praesentium, unde voluptate vel distinctio quos non enim iusto sit expedita ipsa sunt nisi ad pariatur sequi. Commodi error voluptate aspernatur.</p>
      </div>
      </div>
      <div class="card">
          <div class="imgbox">
              <img src="banner-5.jpg">
          </div>
      <div class="details">
          <h2>lorur hassna ben</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat praesentium, unde voluptate vel distinctio quos non enim iusto sit expedita ipsa sunt nisi ad pariatur sequi. Commodi error voluptate aspernatur.</p>
      </div>
      </div>
      <div class="card">
          <div class="imgbox">
              <img src="banner-6.jpg">
          </div>
      <div class="details">
          <h2>lorur hassna ben</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat praesentium, unde voluptate vel distinctio quos non enim iusto sit expedita ipsa sunt nisi ad pariatur sequi. Commodi error voluptate aspernatur.</p>
      </div>
      </div>
  </div>



   <!-- effort -->


   <section>

      <div class="containers">
         <div class="cards">

            <div class="face face1">
               <div class="contents">
                  <img src="sketch.png">
                  <h3>Design</h3>
               </div>
            </div>
            <div class="face face2">
               <div class="contents">

                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorum impedit vel </p>
               </div>

            </div>
         </div>
         <div class="cards">

            <div class="face face1">
               <div class="contents">
                  <img src="data.png">
                  <h3>code</h3>
               </div>
            </div>
            <div class="face face2">
               <div class="contents">

                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorum impedit </p>
               </div>

            </div>
         </div>
         <div class="cards">

            <div class="face face1">
               <div class="contents">
                  <img src="startup.png">
                  <h3>Design</h3>
               </div>
            </div>
            <div class="face face2">
               <div class="contents">
                  <img src="">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorum </p>
               </div>

            </div>
         </div>
         <div class="cards">

            <div class="face face1">
               <div class="contents">
                  <img src="startup.png">
                  <h3>Design</h3>
               </div>
            </div>
            <div class="face face2">
               <div class="contents">
                  <img src="">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorum</p>
               </div>

            </div>
         </div>




      </div>

   </section>

   <!-- why you choose us-->

   <section class="display__container">
      <div class="section__container">
         <h2 class="section__title">Why Choose Us</h2>
         <p class="section__subtitle">
            The gladdest moment in human life, is a departure into unknown lands.
         </p>
         <div class="display__grid">
            <div class="display__card grid-1">
               <img src="grid-1.jpg" alt="grid" />
            </div>
            <div class="display__card">
               <i class="ri-earth-line"></i>
               <h4>Passionate Travel</h4>
               <p>Fuel your passion for adventure and discover new horizons</p>
            </div>
            <div class="display__card">
               <img src="grid-2.jpg" alt="grid" />
            </div>
            <div class="display__card">
               <img src="grid-3.jpg" alt="grid" />
            </div>
            <div class="display__card">
               <i class="ri-road-map-line"></i>
               <h4>Beautiful Places</h4>
               <p>Uncover the world's most breathtakingly beautiful places</p>
            </div>
         </div>
      </div>
   </section>





   <!-- footer-->

   <section class="banner">
      <div class="banner__wrapper">
         <div class="banner__card">
            <img src="banner-1.jpg" alt="banner" />
            <div class="banner__content">
               <h4>Bora Bora</h4>
               <div class="banner__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
               </div>
               <p>
                  Surrender to the allure of Bora Bora, a tropical paradise
                  surrounded by turquoise waters and coral reefs.
               </p>
            </div>
         </div>
         <div class="banner__card">
            <img src="banner-2.jpg" alt="banner" />
            <div class="banner__content">
               <h4>Banff National Park</h4>
               <div class="banner__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
               </div>
               <p>
                  Hike through alpine meadows, take a scenic drive along the
                  Icefields Parkway, and soak in the beauty of the Canadian Rockies.
               </p>
            </div>
         </div>
         <div class="banner__card">
            <img src="banner-3.jpg" alt="banner" />
            <div class="banner__content">
               <h4>Barcelona</h4>
               <div class="banner__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
               </div>
               <p>
                  The city's vibrant street life, world-class cuisine, and
                  Mediterranean beaches make it a must-visit destination.
               </p>
            </div>
         </div>
         <div class="banner__card">
            <img src="banner-4.jpg" alt="banner" />
            <div class="banner__content">
               <h4>Cape Town</h4>
               <div class="banner__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
               </div>
               <p>
                  From the iconic Table Mountain and historic Robben Island to the
                  scenic Cape Winelands, this South African gem offers a blend of
                  natural beauty, history, and modern sophistication.
               </p>
            </div>
         </div>
         <div class="banner__card">
            <img src="banner-5.jpg" alt="banner" />
            <div class="banner__content">
               <h4>Queenstown</h4>
               <div class="banner__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
               </div>
               <p>
                  Nestled against the backdrop of the Southern Alps, Queenstown is a
                  haven for adventure enthusiasts.
               </p>
            </div>
         </div>
         <div class="banner__card">
            <img src="banner-6.jpg" alt="banner" />
            <div class="banner__content">
               <h4>Santorini</h4>
               <div class="banner__ratings">
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
                  <span><i class="ri-star-fill"></i></span>
               </div>
               <p>
                  Known for its romantic sunsets, vibrant culture, and delicious
                  cuisine, this Greek island is a paradise for travelers seeking
                  both relaxation and adventure.
               </p>
            </div>
         </div>
      </div>
   </section>

  
     <div class="container">
       <div class="content">
         <div class="left-side">
           <div class="address details">
             <i class="fas fa-map-marker-alt"></i>
             <div class="topic">Address</div>
             <div class="text-one">Surkhet, NP12</div>
             <div class="text-two">Birendranagar 06</div>
           </div>
           <div class="phone details">
             <i class="fas fa-phone-alt"></i>
             <div class="topic">Phone</div>
             <div class="text-one">+0098 9893 5647</div>
             <div class="text-two">+0096 3434 5678</div>
           </div>
           <div class="email details">
             <i class="fas fa-envelope"></i>
             <div class="topic">Email</div>
             <div class="text-one">codinglab@gmail.com</div>
             <div class="text-two">info.codinglab@gmail.com</div>
           </div>
         </div>
         <div class="right-side">
           <div class="topic-text">Send us a message</div>
           <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
         <form action="#">
           <div class="input-box">
             <input type="text" placeholder="Enter your name">
           </div>
           <div class="input-box">
             <input type="text" placeholder="Enter your email">
           </div>
           <div class="input-box message-box">
            <input type="text" placeholder="Enter your message">
             
           </div>
           <div class="button">
             <input type="button" value="Send Now" >
           </div>
         </form>
       </div>
       </div>
     </div>


  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">CodingLab</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a href="#">App design</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Courses</li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Photoshop</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021 <a href="#">CodingLab.</a>All rights reserved</span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>



























   <script type="text/javascript">

      //header 
      const menuBtn = document.querySelector(".menu-btn");
      const navigation = document.querySelector(".navigation");

      menuBtn.addEventListener("click", () => {

         menuBtn.classList.toggle("active");
         navigation.classList.toggle("active");
      });


      const btns = document.querySelectorAll(".nav-btn");
      const slides = document.querySelectorAll(".video-slide")
      var sliderNav = function (manual) {
         btns.forEach((btn) => {
            btn.classList.remove("active");
         });
         slides.forEach((slide) => {
            slide.classList.remove("active");
         });

         btns[manual].classList.add("active");
         slides[manual].classList.add("active");

      }

      btns.forEach((btn, i) => {
         btn.addEventListener("click", () => {
            sliderNav(i);
         });

      });

      //footer
      const banner = document.querySelector(".banner__wrapper");

      Array.from(banner.children).forEach((item) => {
         const duplicateNode = item.cloneNode(true);
         duplicateNode.setAttribute("aria-hidden", true);
         banner.appendChild(duplicateNode);
      });





        let prev = document.querySelector('.prev');
        let next = document.querySelector('.next');
        let box = document.querySelector('.box');
        let degrees = 0;

        prev.addEventListener('click', function () {
            degrees += 45;
            box.style.transform = `perspective(1000px) rotateY(${degrees}deg)`;
        });
        next.addEventListener('click', function () {
            degrees -= 45;
            box.style.transform = `perspective(1000px) rotateY(${degrees}deg)`;
        });
    






   </script>